@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conversion</h1>
    <p class="lead">A demo using .Net Framework, .Net Core, and Okta</p>
    <p><a href="https://developer.okta.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>
            Learn how to convert a .Net Framework MVC web application using Okta to a .Net Core application.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Okta</h2>
        <p>Powerful Single Sign on provider </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Author</h2>
        <p>Written by Nik Fisher</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>